img#spider {
  width: 50px;
}

#content-table, #welcome {
  margin-top: 20px;
}

video {
  width: 100%;
}

#springs-map {
  height: 500px;
}

img {
  width: 100%;
}

img.spring-picture {
  width: 150px;
}

#welcome > div {
  min-width: 60px;
}

.blog-content {
  text-align: justify;
}
