---
layout: default
title: Кръстопът
links:
  - springs.html
  - movies.html
  - computer_metaphors.html
---
<div class="col-xs-12">
  <div class="row" id="welcome">
    <div class="col-xs-2">
      <img src={{ "/assets/img/spider_clipart.png" | absolute_url }} alt="spider" />
    </div>
    <div class="col-xs-10">
      <p>
        Добре си дошъл приятелю паяк.<br>
        Радвам се, че си мой гост.<br>
        Избери си нишка по която да поемеш.
      </p>
    </div>
  </div>
  <div class="row" id="content-table">
    <div class="col-xs-12">
      <ul>
        Нишки
        {% for page_looped in site.html_pages %}
          {% if page != page_looped %}
          <li><a href="{{ page_looped.url }}">{{ page_looped.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
