<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% feed_meta %}
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap-xxs.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
    {% for stylesheet in page.stylesheets %}
      <link rel="stylesheet" href="{{ site.baseurl }}/{{ stylesheet }}">
    {% endfor %}
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.baseurl }}/index.html">
            <span class="glyphicon glyphicon-home"></span>
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <a href="{{ site.baseurl }}/blog.html">
                <span class="glyphicon glyphicon-blackboard"></span>
                Разсъждения
              </a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-leaf"></span> Природа
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="{{ site.baseurl }}/wild_plants.html">
                    <span class="glyphicon glyphicon-grain"></span>
                    Диви и ядливи
                  </a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <a href="{{ site.baseurl }}/springs.html">
                    <span class="glyphicon glyphicon-tint"></span>
                    Извори
                  </a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-book"></span> Речници
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="{{ site.baseurl }}/dictionary_bulgarian_purity.html">
                    <span class="glyphicon glyphicon-tint"></span>
                    Чистота
                  </a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <a href="{{ site.baseurl }}/">
                    <span class="glyphicon glyphicon-gift"></span>
                    Тайни
                  </a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <a href="{{ site.baseurl }}/">
                    <span class="glyphicon glyphicon-resize-horizontal"></span>
                    Симетрия
                  </a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <a href="{{ site.baseurl }}/computer_metaphors.html">
                    <span class="glyphicon glyphicon-hdd"></span>
                    Компютърни метафори
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="{{ site.baseurl }}/movies.html">
                <span class="glyphicon glyphicon-film"></span>
                Любими филми
              </a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="{{ site.baseurl }}/contacts.html">
                <span class="glyphicon glyphicon-envelope"></span>
                Пиши ми
              </a>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
    <div class="container">
      <div class="page-header">
        <h1>{{ page.title }}</h1>
      </div>
      <div class="row">
        <div class="col-xxs-12">
          {{ content }}
        </div>
      </div>
      <hr>
      <footer>
        <p>В моя възел от мрежата ще намериш само свободно съдържание.</p>
        <p>
          Ползвай го безстрашно, но тръгни преди това по нишката му, оказана с табела <span class="glyphicon glyphicon-link"></span>, за да научиш заръките на създателя му.</p>
        </p>
        <p>Кода зад този възел можеш да видиш при котката-октопод
          <a href="https://github.com/archri/hristos_site" aria-label="Кода зад възела ми">
            <svg aria-hidden="true" height="20" version="1.1" viewBox="0 0 16 16" width="20">
              <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
            </svg>
          </a>
        </p>
      </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js">
    </script>
    {% for script in page.scripts %}
      <script type="text/javascript" src="{{ site.baseurl }}/{{ script }}">
      </script>
    {% endfor %}
  </body>
</html>
