---
layout: page
---
<div class="row">
  <div class="col-sm-6">
    {{ content }}
  </div>
  <div class="col-sm-6">
    <div class="thumbnail">
      <a href="{{ page.hyperlink }}">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/{{ page.image.namespace }}/{{ page.image.filename }}/512px-{{ page.image.filename }}">
      </a>
      <div>
        <a href="https://commons.wikimedia.org/wiki/File:{{ page.image.filename }}">
          <span class="glyphicon glyphicon-link"></span>
        </a>
      </div>
    </div>
  </div>
</div>
